<% provide(:title, 'Contact') %>
  <div class="py-3">
    <h1>Contact</h1>
    <p>
      Contact the ZIDEEP about the app at the mail to
      <a href="mailto:yimulli@163.com">yimulli@163.com</a>.
    </p>
  </div>
