


<h4 class=""><i class="fa fa-th"></i> Manage products</h4>
<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to "Add new product",new_product_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "My products",products_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "Upload upcs",new_upc_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "My upcs",upcs_path, class: "nav-link"%>
  </li>
</ul>
