<div class="row my-2 ">
  <% @amatemps.each_with_index do |amatemp,num|%>
    <% if(num%4==0) %>
    </div>
    <div class="row my-2 ">
    <%end%>
    <div class="col-3">

      <%= label_tag amatemp.name %>
      <% amatemp_array = amatemp.value.gsub(/ {2,}/,"|").tr("\t","|").tr("\n\r","|").split('|').map { |valu| [valu, valu] } %>
        <% amatemp_array=  amatemp_array.insert(0,["请选择"," "]) %>
          <%= select_tag("amatemp["+amatemp.name+"]", options_for_select(amatemp_array,getamavalue(amatemp,@album)),class: "form-select" ) %>
        </div>
      <%end%>
    </div>
