<% provide(:title, '新建仓库') %>
  <% provide(:button_text, '提交') %>
    <div class="row">
      <aside class="col-md-3 products_menu">
        <%= render 'shared/xstock_menu' %>
      </aside>
      <div class="col-md-9">
        <h3>新建仓库</h3>
        <div class="row ">
          <%= render 'form' %>
        </div>

      </div>

    </div>
